<section id='records'>
  <%= render 'records' %>
</section>
<aside id='actions'>
  <%= render 'actions' %>
</aside>
<%= render '/refinery/admin/make_sortable', options: {tree: false} if !searching? and ::Refinery::Retailers::Admin::RetailersController.sortable? and ::Refinery::Retailers::Retailer.many? %>
