<% content_for :body do %>
  <div id="retailers">
    <% @retailers.each do |country, retailers| %>
      <h2><%= country_name(country) %></h2>
      <ul id="<%= country %>">
        <%= render partial: 'retailer', collection: retailers %>
      </ul>
    <% end %>
  </div>
<% end %>

<%= render '/refinery/content_page' %>